<div class="container">
  <h5>Confidiendalité</h5>
  <p>Le site internet www.jamnow.fr fait l’objet d’une déclaration à la commission nationale de l’informatique et des libertés.
Le traitement respecte l’ensemble des dispositions de la loi du 6 janvier 1978 modifiée en 2004. Ce dernier respecte les obligations prévues par la loi et notamment :
La définition et le respect de la finalité du traitement,
La pertinence des données traitées,
La conservation pendant une durée limitée des données,
La sécurité et la confidentialité des données,
Le respect des droits des intéressés : information sur leur droit d’accès, de rectification et d’opposition.</p>
<div class="divider"></div>
<br>
<h5>Utilisation des informations que nous recevons</h5>
<p>Nous utilisons les informations que nous recevons pour les services et les fonctions que nous vous fournissons, à vous et aux autres, à nos partenaires, les annonceurs qui achètent des publicités sur le site, et le développeur qui conçoit et améliore le site web que vous utilisez. Ainsi, en plus d’aider les internautes à voir et découvrir les jams sessions que vous partagez sur notre site nous pouvons utiliser les informations que nous recevons à votre sujet :
<ul>
<li>dans le cadre de nos efforts en vue de maintenir la sécurité de notre site</li>
<li>pour protéger les droits et propriétés de Jammies comme ceux des autres utilisateurs,</li>
<li>pour vous fournir de meilleurs services et fonctionnalités</li>
<li>pour mesurer et comprendre l’efficacité des publicités que nous affichons et pour diffuser des publicités qui vous concernent plus pertinemment ;</li>
<li>pour vous soumettre des suggestions, ainsi qu’aux autres utilisateurs de JamNow, telles que : Participer à une Jam session dans votre ville ou avec des utilisateurs ayant les mêmes intérêts musicaux que vous</li>
<li>pour des opérations internes, dont le dépannage, l’analyse de données, les tests, la recherche et l’amélioration des services.</li>
<li>Nous conservons les données aussi longtemps que nécessaire pour l’apport de nos services, y compris ceux décrits ci-dessus. En général, les informations associées à votre compte sont conservées jusqu’à la suppression de ce dernier. Pour certaines catégories de données, nous pouvons également vous informer de pratiques spécifiques de rétention des données.</li>
<li>Nous pouvons autoriser l’accès aux informations publiques qui ont été partagées par le biais de nos services.</li>
<li>Nous pouvons autoriser des prestations de service à accéder aux informations pour nous aider à fournir des services.</li>
</ul>
<div class="divider"></div>
<br>
</p>
</div>
