<!-- CONNEXION -->
	<content class="page-connexion">
		<div class="row">
			<div class="col offset-s2 s8 offset-m2 m8 offset-l2 l8 ">
				<h2 class="page-connexion-title">CONNECTEZ VOUS</h2>
				<form class="page-connexion-form">
					<div class="page-connexion-infos">
													        
						
													        <!-- EMAIL -->
						<div class="row">
							<div class="col offset-s1
							 s10 offset-m2 m8 offset-l2 l8">
								<div class="input-field ">
								<input placeholder="Email" type="email" id="email_connexion" class="connexion-input">
								</div>							
														<!-- MOT DE PASSE -->
						<div class="input-field">
						<input placeholder="Mot de passe" type="password" id="mdp_connexion" class="connexion-input">
								</div>
							</div>
						</div>	
					</div>
				</form>
														<!-- CONNEXION -->

				<div class="page-connexion-down-text">
					<p class="page-connexion-button-connexion">
						<a class="waves-effect red lighten-2 btn page-connexion-btn">Connexion</a>
					</p>
					<p class="page-connexion-text-para">
						<a class="page-connexion-texte">Vous n'avez pas encore de compte? </a>
					</p>
				</div>
			</div>
		</div>
	</content>

<div class="page-connexion-background"></div>

