<div class="contact-page">
<div class="container">
<div class="contact-page-form">
  <div class="row" ng-controller="ContactController as ctrl">
    <form class="col s12">
      <div class="row">
      <h1 class="contact-page-title">CONTACT</h1>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.name">
          <label for="icon_prefix">Votre nom</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate" ng-model="ctrl.phone_number">
          <label for="icon_telephone">Votre téléphone</label>
        </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="icon_email" type="email" class="validate" ng-model="ctrl.email">
          <label for="icon_email">Votre Email</label>
        </div>
      </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" ng-model="ctrl.message"></textarea>
            <label for="textarea1">Votre message</label>
          </div>
        </div>
        <button class="btn waves-effect waves-ligh contact-page-button-submit" type="submit" name="action" ng-click="ctrl.sendContactForm()">Envoyer
        <i class="material-icons right">send</i></button>
        <br>
      </form>
      </div>
      <div class="contact-jamnow-infos">
        <div class="row">
          <br>
          <div class="col s12 contact-page-texte-para"><b>Vous pouvez également nous contacter via :</b></div>
          <div class="col s6"><p><a href="mailto:contact@jamnow.com">contact@jamnow.com</a></p><p><i class="material-icons prefix">phone</i>  06 666 666 666</p></div>
          <div class="col s6"><p><i class="material-icons prefix">location_on</i>  JAMNOW<br>12 rue de la Jam<br>78350<br>Jamcity France</p></div>
        </div>
      </div>
  </div>
</div>


              <!-- BACKGROUND -->

<div class="contact-background"></div>
</div>