<!-- BANNIERE -->

<div class="row">
  <div class="col s12">
      <div class="home-pitch">
        <h1 class="home-pitch-texte center-align">Vivez la musique.<br>Maintenant.</h1>
      </div>
  </div>
</div>



<!-- AUTHENTIFICATION -->

<div class="row">
  <div class="col s12">
    <div class="auth">
      <div class="row">
        <a class="home-btn-inscription waves-effect waves-light btn" ui-sref="inscription.idform">S'inscrire</a>
      </div>
      <div class="row">
        <a class="home-btn-connexion waves-effect waves-light btn">Se Connecter</a>
      </div>
    </div>
  </div>
</div>



<!-- SEARCH BAR -->

<div class="row">
  <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
    <form>
      <div class="input-field home-search-bar">
        <input id="home-search" type="search" required class="home-search" placeholder="Quel type de Jam voulez-vous rejoindre ?">
        <label for="home-search"></label>
      </div>
    </form>
  </div>
</div>


  <!-- NEXT JAMS -->

  <div class="container-jam-home white-background">
    <!-- TITLE JAMS -->
    <div class="container-title-jam-home white-background ">
      <h4 class="center-align">Envie de rejoindre d'autres passionnés ?</h4>
      <h5 class="center-align">Les Jams à venir</h5>
    </div>
    <!-- END TITLE JAMS -->
    <!-- JAMS LOCATIONS -->
    <div class="container-cards-jam-home grey lighten-4">
      <!-- #1 CARD-->
      <div class="row">
        <div class="card-jam-home">
          <div class="col s8 offset-s1 8 offset-m1 l5 offset-l2">
            <div class="card-jam-home-title">
              <i class="material-icons icon-arrow">play_arrow</i>
              <a class="card-left-part-title" href="http://www.lorenzoverzini.com/prrr/">SIMPLON JAM!</a>
            </div>
          </div>
          <div class="col s2 m2 l3">
            <div class="card-jam-home-info">
              <p class="center-align">12 août</p>
            </div>
          </div>
        </div>
      </div>

      <!-- #2 CARD-->
      <div class="row">
          <div class="card-jam-home">
            <div class="col s8 offset-s1 8 offset-m1 l5 offset-l2">
              <div class="card-jam-home-title">
                <i class="material-icons icon-arrow">play_arrow</i>
                <a class="card-left-part-title" href="http://www.lorenzoverzini.com/prrr/">Fans de funk, venez !</a>
              </div>
            </div>
            <div class="col s2 m2 l3">
              <div class="card-jam-home-info">
                <p class="center-align">29 août</p>
              </div>
            </div>
          </div>
      </div>

      <!-- #3 CARD-->
      <div class="row">
          <div class="card-jam-home">
            <div class="col s8 offset-s1 8 offset-m1 l5 offset-l2">
              <div class="card-jam-home-title">
                <i class="material-icons icon-arrow">play_arrow</i>
                <a class="card-left-part-title" href="http://www.lorenzoverzini.com/prrr/">Amateurs de musique classique, opéra...</a>
              </div>
            </div>
            <div class="col s2 m2 l3">
              <div class="card-jam-home-info">
                <p class="center-align">29 août</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- END JAMS LOCATIONS -->

  </div>
  <!-- END NEXT JAMS-->



  <!-- PITCH POURQUOI -->
  <div class="container-pourquoi-jamnow-home white-background">
    <div class="container-title-pourquoi-jamnow-home">
      <h4 class="title-pourquoi-jamnow-home center-align">Pourquoi JAM!NOW ?</h4>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="container-text-pourquoi-home valign-wrapper">
          <p class="text-pourquoi-home  valign"> Nous avons tous à un moment de notre vie voulu chanter, jouer d’un instrument en collectif et sentir les vibrations communes. Nous avons tous à un moment de notre vie ressenti le plaisir de simplement écouter et regarder des personnes jouer. <br><br><span id="text-pourquoi-emphase-home">JamNow est le moyen de faciliter ces rencontres et de vous mettre en contact entre passionnés de musique.</span></p>
        </div>
      </div>
      <div class="col s12 m8 l8">
        <div class="bg-img-pourquoi-home"></div>
      </div>
    </div>
  </div>
  <!-- END PITCH POURQUOI -->



  <!-- COMMENT JAM!NOW -->
  <div class="container-cmt-home white-text center-align">
    <div class="container-title-cmt-home">
      <h4 class="title-cmt-home">Comment ça marche ?</h4>
    </div>

    <!-- COMMENT JAM!NOW STEPS  -->
    <div class="container-steps-cmt-home">
      <div class="steps-cmt-home">
        <div class="round-bg-num-cmt-home valign-wrapper"><p class="valign center-num-step">1</p></div>
        <h6>J'organise une Jam chez moi ou ailleurs</h6>
      </div>
      <div class="steps-cmt-home">
        <div class="round-bg-num-cmt-home valign-wrapper"><p class="valign center-num-step">2</p></div>
        <h6>Je recois des demandes de participations d'autres passionnés</h6>
      </div>
      <div class="steps-cmt-home">
        <div class="round-bg-num-cmt-home valign-wrapper"><p class="valign center-num-step">3</p></div>
        <h6>Je valide leurs demandes</h6>
      </div>
      <div class="steps-cmt-home">
        <div class="round-bg-num-cmt-home valign-wrapper"><p class="valign center-num-step">4</p></div>
        <h6>Jour J : Que la jam commence !</h6>
      </div>
    </div>

    <div class="container-text-cmt-home">
      <p class="text-cmt-home"><a ui-sref="jam">.. ou bien je rejoins une Jam déja organisée !</a></p>
    </div>

  </div>
  <!-- END COMMENT JAMNOW -->


  </div>
</div>


<!-- BACKGROUND -->

<div class="home-background"></div>
