<!-- CONTENT -->
<div class="auth">
<a class="home-btn-inscription waves-effect waves-light btn">S'inscrire
</a>
<a class="waves-effect waves-light btn">Se Connecter</a>
</div>
 <!-- Avec JamNow retrouver des personnes avec qui Jammer selon vos gouts musicaux du moment. -->
  <nav class="shearch-box">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="home-search" type="search" required>
          <label for="home-search"><i class="material-icons">Quel type de Jam voulez-vous rejoindre ?</i></label>
          <i class="shearch-material-icons"></i>
        </div>
      </form>
    </div>
  </nav>