<!-- CONNEXIONS -->
<div class="center">
  <div class="home-pitch">
    <h1 class="home-pitch">Vivez la musique. Maintenant.</h1>
  </div>
  <div class="auth">
    <a class="home-btn-inscription waves-effect waves-light btn">S'inscrire</a>
    <a class="home-btn-connexion waves-effect waves-light btn">Se Connecter</a>
  </div>

  <!-- SEARCH BAR -->
      <form>
        <div class="input-field home-search-bar">
          <input id="home-search" type="search" class="home-search" required placeholder="Quel type de Jam voulez-vous rejoindre ?">
          <label form="home-search"><i class="material-icons home-icon-search"></i></label>
        </div>
      </form>


  <!-- CARD -->
  <div class="card">
    <div class="card-left-part">
        <i class="material-icons icon-fleche">trending_flat</i>
      <h2>SIMPLON JAM!</h2>
    </div>
    <div class="card-right-part">
      <div class="date">12</div>
      <div class="month">Aout</div>
    </div>
  </div>

  <div class="card">
    <div class="card-left-part">
        <i class="material-icons icon-fleche">trending_flat</i>
      <h2>SIMPLON JAM!</h2>
    </div>
    <div class="card-right-part">
      <div class="date">12</div>
      <div class="month">Aout</div>
    </div>
  </div>

  <div class="card">
    <div class="card-left-part">
        <i class="material-icons icon-fleche">trending_flat</i>
      <h2>SIMPLON JAM!</h2>
    </div>
    <div class="card-right-part">
      <div class="date">12</div>
      <div class="month">Aout</div>
    </div>
  </div>
</div>
  
<div class="home-background">
</div>