<!-- INSCRIPTION PAGE 3 (CONFIRMATION) -->

<!-- <div class="row">
  <div class="bg-img-inscription3">
    <div class="col s8 offset-s2 m6 offset-m3 l6 offset-l3 container-valide-inscription3"> -->

      <!-- MESSAGE REMERCIEMENT-->
      <div class="row">
        <div class="container-msg-inscription3 center-align">
          <h4 class="msg-inscription3">Merci de votre inscription sur Jam Now !</h4>
        </div>
      </div>

      <!-- MESSAGE CONFIRMATION-->
      <div class="row">
        <div class="container-icon-text-inscription3 center-align">

            <div class="round-bg-dark valign-wrapper">
              <i class="large material-icons valign icon-done-align">done</i>
            </div>

          <div class="col s6 offset-s3 m6 offset-m3 l6 offset-l3">
            <div class="container-tx-inscription3">
              <p>Vous allez bientôt recevoir un e-mail de confirmation, veuillez consulter votre boîte mail.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- BTN-->
      <div class="row">

          <div class="container-btn-retour-accueil-inscription3">
            <a ui-sref="home" class="waves-effect waves-light btn btn-retour-inscription3">Retour Accueil</a>
          </div>
      </div>

    <!-- </div>
  </div>
</div> -->
