<!-- INSCRIPTION PAGE 2 -->

<!-- <div class="row">
  <div class="bg-img-inscription2">
    <div class="col s12 container-form-inscription2 white-text"> -->

      <!-- FORMULAIRE INSCRIPTION -->
      <div class="row">
        <div class="col s8 offset-s2 m8 offset-m2 l6 offset-l3 container-titre-inscription2">
          <!-- put a left arrow icon here -->
          <h4 class="titre-inscription">Encore un clic !</h4>
        </div>
      </div>

      <!-- UPLOAD IMAGE -->

      <div class="row">
        <div class="file-field input-field round-bg-light valign-wrapper">
            <i class="medium material-icons icon-imgfile-align valign">add_a_photo</i>
              <input type="file">
            <!-- <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div> -->
        </div>
      </div>

      <div class="row">
        <form action="" class="col s8 offset-s2 m8 offset-m2 l6 offset-l3">
          <!-- NOM -->
          <div class="input-field">
            <i class="material-icons prefix">perm_identity</i>
            <input placeholder="Nom" id="nom_inscription2" type="text" class="validate">
          </div>
          <!-- EMAIL -->
          <div class="input-field">
             <i class="material-icons prefix">email</i>
            <input placeholder="Email" id="email_inscription2" type="email" class="validate">
          </div>
          <!-- DATE DE NAISSANCE -->
          <div class="input-field">
            <i class="material-icons prefix">redeem</i>
            <input placeholder="Date de naissance" id="date_naissance_inscription2" type="text" class="validate">
          </div>
          <!-- BTN SE CONNECTER -->
          <div class="container-btn-seconnecter-inscription2">
            <a class="waves-effect waves-light btn btn-seconnecter" ui-sref="inscription.confirmation">Se connecter</a>
          </div>
        </form>
      </div>

    <!-- </div>
  </div>
</div> -->
