<!-- INSCRIPTION PAGE 1 -->

<div class="row">
  <div class="bg-img-inscription1">
    <div class="col s12 container-form-inscription1 white-text">

        <!-- FORMULAIRE NOUVEAU COMPTE -->
        <div class="col s10 container-titre-inscription1">
          <h4 class="center-align">Nouveau Compte</h4>
        </div>

        <form action="" class="col s10">
          <!-- NOM UTILISATEUR -->
          <div class="input-field">
            <input placeholder="Nom d'utilisateur" id="nom_utilisateur_inscription" type="text" class="validate">
            <!-- <label for="nom_utilisateur_inscription"></label> -->
          </div>
          <!-- MOT DE PASSE -->
          <div class="input-field">
            <input placeholder="Mot de passe" type="password" id="mdp_inscription1" class="validate">
            <!-- <label for="mdp_inscription"></label> -->
          </div>
          <!-- BTN SUIVANT -->
          <div class="btn-suivant">
            <a class="waves-effect waves-light btn btn-suivant" ui-sref="inscription2">Suivant</a>
          </div>
        </form>

    </div>
  </div>
</div>
