<!-- INSCRIPTION PAGE 3 (CONFIRMATION) -->

<div class="row">
  <div class="bg-img-inscription3">
    <div class="col s8 offset-s2 container-valide-inscription3">

      <!-- MESSAGE REMERCIEMENT-->
      <div class="row">
        <div class="container-msg-inscription3 center-align">
          <h4 class="msg-inscription3">Merci de votre inscription sur Jam Now !</h4>
        </div>
      </div>

      <!-- MESSAGE CONFIRMATION-->
      <div class="row">
        <div class="container-icon-text-inscription3 center-align">
          <div class="round-bg-dark"><i class="large material-icons">done</i></div>
          <p>Vous allez bientôt recevoir un e-mail de confirmation, veuillez consulter votre boîte mail.</p>
        </div>
      </div>

      <!-- BTN-->
      <div class="row">
        <div class="container-btn-retour-accueil-inscription3">
          <a ui-sref="home" class="waves-effect waves-light btn">Retour Accueil</a>
        </div>
      </div>

    </div>
  </div>
</div>
