<div class="row">
      <div class="col s12 m8 l9">
        <div class="card-jam">
          <div class="row">
          <h3>SIMPLON JAM !</h3>
          <a class="btn-floating btn-large waves-effect waves-light pink"><i class="material-icons">mode_edit</i></a>
        </div>
        </div>
    </div>

      <div class="col s12 m4 l3">
        <div class="card-jam">
          <div class="profil-utilisateur">
            <div class="bg-profil">
             <img class= "circle responsive-img" src="../../assets/images/kevin.jpg" alt="kevin">
            <div class="informations-profil">
              <h4>Kevin Andreani</h4>
              <h6>29 ans</h6>
              <h6>Talent : Trompette</h6>
              <div class="chip">Jazz</div>
              <div class="chip">Death musette</div>
              <div class="chip">Carioca</div>
              <div class="chip">Funk</div>
              <!-- <div class="biopic">
                <p class="profil-white">A propos:</p>
                <p>Membre du groupe Black Musette, je suis à la recherche de nouveaux sons pour accompagner mon Haut-bois.</p>
              </div> -->
            </div>
            </div>
        </div>
      </div>
      <div class="row">
      <div class="card-jam2">
        <div class="fiche-participant">
          <div class="row">
            <div class="col s4">
              <img src="../../assets/images/cecile.jpg" alt="" class="avatar-profil-small circle">
            </div>
            <div class="col s4">
              <p>Cécile</p>
            </div>
            <div class="col s4">
              <div class="chip">Guitare</div>
            </div>
          </div>
        </div>
        <div class="fiche-participant">
          <div class="row">
            <div class="col s4">
              <img src="../../assets/images/nine.jpg" alt="" class="avatar-profil-small circle">
            </div>
            <div class="col s4">
              <p>Nine</p>
            </div>
            <div class="col s4">
              <div class="chip">Groupie</div>
            </div>
          </div>
        </div>
        <div class="fiche-participant">
          <div class="row">
            <div class="col s4">
              <img src="../../assets/images/harysson.jpg" alt="" class="avatar-profil-small circle">
            </div>
            <div class="col s4">
              <p>Harysson</p>
            </div>
            <div class="col s4">
              <div class="chip">Guitare</div>
            </div>
          </div>
        </div>
        <div class="fiche-participant">
          <div class="row">
            <div class="col s4">
              <img src="../../assets/images/lydia.jpg" alt="" class="avatar-profil-small circle">
            </div>
            <div class="col s4">
              <p>Lydia</p>
            </div>
            <div class="col s4">
              <div class="chip">Chant</div>
            </div>
          </div>
        </div>
    </div>



  <div class="bg-img-jam">
