<div class="row">
  <form class="col s12" action="#">
    <div class="row card-jam newjam-card">
      <h3>Rejoindre une Jam</h3>
      <h4>Je suis...</h4>
      <p>
      <input name="group1" type="radio" id="test1" />
      <label for="test1">Groupie</label>
    </p>
    <p>
      <input name="group1" type="radio" id="test2" />
      <label for="test2">Jammer et mon talent est :
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <!-- <label for="textarea1">Textarea</label> -->
        </div>
      </label>
    </p>
    <div class="col s12 m4 l8">
      <button class="button-joinjam btn waves-effect waves-light pink" type="submit" name="action">Je participe !
    </div>
    <div class="col s12 m4 l8">
    <button class="button-joinjam btn waves-effect waves-light" type="submit" name="action">Peut-être.
  </div>
    </div>
  </form>
</div>
<div class="bg-img-joinjam"></div>
