<div class="container">
  <h5>Conditions générales d’utilisation du site internet www.jamnow.fr</h5>

<p>CE DOCUMENT EST LONG ET CONTIENT PLUSIEURS DISPOSITIONS IMPORTANTES PORTANT SUR VOS DROITS ET OBLIGATIONS. EN UTILISANT LE SITE INTERNET ACCESSIBLE À L’ADRESSE WWW.JAMNOW.FR, VOUS ACCEPTEZ D'ÊTRE LIÉ(E) PAR CES CONDITIONS GÉNÉRALES D'UTILISATION. NOUS VOUS ENCOURAGEONS A EN IMPRIMER UNE COPIE POUR VOS ARCHIVES.</p>
<div class="divider"></div>
<br>
<strong>Force obligatoire des présentes</strong>

<p>Le présent site est la propriété de YOURJAM, autoentreprise dirigée par Nine TomatesMozza dont le siège social est situé 55 rue de Vincennes 40988 Montreuil, immatriculée sous le n° 804 809 168 représentée par Monsieur Jean-Baptiste.
Nous avons créé et nous exploitons le site Internet accessible  à l’ adresse  www.JamNow.fr  (ci-après désigné le « Site JamNow ») dont l’objet est  de faciliter la mise en relation de personnes physiques souhaitant organiser ou participer à des séances d’improvisation musicale, (ci-après désigné une « Jam session»)
En utilisant le Site jamNow, vous acceptez d'être lié(e) par les présentes conditions générales d'utilisation et vous vous engagez à les respecter. Elles forment un contrat conclu entre JamNow et vous-même (ci-après désigné le « Contrat Cadre »). Vous êtes dans ce cadre qualifié d’ « Utilisateur ».
Si vous refusez ces conditions générales d’utilisation, vous ne pouvez pas utiliser le Site JamNow et devez impérativement le quitter.</p>
<div class="divider"></div>
<br>

<strong>Ce que nous proposons à travers le Site JamNow</strong>

<p>Nous avons mis en place le Site JamNow afin de faciliter vos rencontres avec une ou plusieurs personnes passionnées de musique, en partageant un moment d’improvisation musicale unique que vous proposez ou qui vous est proposé.



vous garantissez que les données communiquées sont exactes et accessibles à tous, conformes à la réalité et mises à jour s’il y a lieu

(i) le fait que le Contenu Utilisateur n’est ni édité, ni modéré par JamNow.

(v) le fait que toute divulgation sur votre vie et toutes données communiquées sont de votre responsabilité exclusive ;

(vi) des outils de recommandation dont le mécanisme résulte d’un traitement automatique de données non personnelles et non d’un traitement humain du personnel  de JamNow ont pu prendre en compte, de façon anonyme et irrévocable, votre avis, ce que vous acceptez ; vous acceptez ainsi que votre avis soit conservé de façon anonyme à des fins statistiques.

JamNow se réserve le droit de commercialiser le résultat de ces traitements automatiques.
responsable de tout ou partie de ceux-ci.</p>
<div class="divider"></div>
<br>
<strong>EXCLUSION GENERALE DE RESPONSABILITE DE JamNow</strong>

<p>Plus généralement et sauf disposition expresse contraire visée au présent article 9.6, en aucun cas JamNow ou ses dirigeants, employés ou mandataires ne sauraient être tenus responsables de tout dommage, direct ou indirect résultant de l'utilisation du site JamNow ou des services qui y sont proposés, de tout contenu du site JamNow ou autres éléments, accessibles ou téléchargés depuis le site, même si JamNow a connaissance ou a été informée de la possibilité de survenance de tels dommages.

Propriété de JamNow sur le contenu du Site JamNow

Les éléments du Site JamNow et notamment son contenu éditorial, ses graphismes, ses logos, ses marques, ses dessins, ses textes, ses icônes, ses scripts, ses applications, ses logiciels et ses fonctionnalités, à l’exception des Contenus Utilisateurs, (ci-après désignés collectivement le « Contenu du Site »), sont la propriété exclusive de JamNow ou de ses ayants droit. La reproduction, l'imitation ou l'apposition, partielle ou totale, d’un des éléments du Contenu du Site appartenant à JamNow est strictement interdite sans l'accord écrit préalable de JamNow.</p>
<div class="divider"></div>
</div>
