<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Profil</h1>
      <h4>Kevin Andreani</h4>
      <h5>29 ans</h5>
      <h5>Talent : Trompette</h5>
      <div class="chip">
      Jazz
        <i class="close material-icons">close</i>
      </div>
      <div class="chip">
      Jazz
        <i class="close material-icons">close</i>
      </div>
      <div class="chip">
      Jazz
        <i class="close material-icons">close</i>
      </div>
      <div class="chip">
      Jazz
        <i class="close material-icons">close</i>
    </div>
  </div>
  </div>
</div>
