<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Profil</h4>
      <div class="profil-utilisateur">
         <img class="avatar-profil" "responsive-img" src="../../assets/images/kevin.jpg" alt="kevin">
      <div class="informations-profil">
        <h4>Kevin Andreani</h4>
        <h6>29 ans</h6>
        <h6>Talent : Trompette</h6>
      </div>
        <div class="chip">Jazz</div>
        <div class="chip">Death musette</div>
        <div class="chip">Carioca</div>
        <div class="chip">Funk</div>
        <div class="biopic">
          <p>A propos:</p>
          <p>Membre du groupe Black Musette, je suis à la recherche de nouveaux son pour accompagner mon Haut-bois.</p>
        </div>
        <div class="col s12">
          <div class="profil-next-jam">
            <p>Votre prochaine Jam :</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
